:root {
    --darkText: #262626;
    --lightText: white;
    --asideBackground: #f2f2f2;
    --borderColor: #e6e6e6;
    --buttonColor: #3C5BFE;
    --buttonColorHover: #8FCAFF;
    font-family: 'Roboto', sans-serif;
    color: var(--darkText);
}

body {
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    background: var(--darkText);
    padding: 1%;
    text-align: center;
    color: var(--lightText);
}

aside {
    float: left;
    background: var(--asideBackground);
    width: 20%;
    height: 100vh;
    padding: 10px;
}

aside h3 {
    margin: 0 auto;
    margin-bottom: 5px;
}

#searchBar {
    width: 200px;
    height: 30px;
    border: var(--borderColor) 1px solid;
    border-radius: 5px;
    margin-bottom: 15px;
}

#searchBar:focus {
    outline: none;
    border: var(--buttonColorHover) 1px solid;
}

#searchButton {
    background: var(--buttonColor);
    border: var(--buttonColor) 2.5px solid;
    border-radius: 5px;
    text-align: center;
    line-height: 27px;
    margin-bottom: 15px;
}

#searchButton:hover {
    cursor: pointer;
    border: var(--buttonColorHover) 2.5px solid;
}

#searchButton:focus {
    outline: none;
}

#searchedCities {
    background: var(--lightText);
    height: 408px;
    border: var(--borderColor) 1px solid;
    border-radius: 5px;
}

.searchedCity {
    height: 50px;
    padding-left: 25px;
    line-height: 50px;
    border-bottom: var(--borderColor) 1px solid;
}



.hoverPointer {
    cursor: pointer;
}

main {
    float: left;
    width: 75%;
    height: 100vh;
}

#weatherToday {
    margin: 15px;
    width: 100%;
    padding: 15px;
    padding-left: 25px;
    border: var(--borderColor) 1px solid;
    border-radius: 5px;
    position: relative;
}

#currentIcon {
    position: absolute;
    top: 25px;
}

#weatherForecast {
    margin: 15px;
    width: 100%;
    border: var(--lightText) 1px solid;
}

#dateContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.dateBox {
    width: calc(20% - 20px);
    margin: 10px;
    border: var(--borderColor) 1px solid;
    border-radius: 5px;
}

.dateBox h4 {
    text-align: center;
    margin-top: 5px;
}

.dateBox p {
    margin-left: 10px;
    margin-bottom: 5px;
}

.weatherEmoji {
    text-align: center;
}

img {
    vertical-align: middle;
}

@media (max-width: 900px) {
    aside {
        width: 30%;
    }

    main {
        width: 70%;
    }
}
